// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$black-color: #000000;
$black-color-hover: #282828;

$white-color: #ffffff;
$white-hover-color: #efefef;
$white-active-color: #e2e2e2;
$white-color-opague: rgba(255, 255, 255, 0.85);

$light-grey-color: #e2e2e2;
$light-grey-color-active: #b1b1b1;

$dark-green-color: #5C806F;
$light-green-color: #77a691;
$light-green-color-hover: #83b8a1;
$light-green-color-active: #719e8a;

$red-color: #B34A39;
$red-color-active: #de5943;
$red-hover-color: #993F31;

$border: 1px solid #cccccc;
$border-radius: 5px;
