// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

* {
    outline: none !important;
    box-shadow: none !important;
}

/*===Icons===*/
/*=====Colors==*/
.icon-black {
    color: $black-color;

    &:hover {
        color: $black-color-hover;
    }
}

.icon-white {
    color: $white-color;

    &:hover {
        color: $white-hover-color;
    }
}

.icon-light-green {
    color: $light-green-color;
}

.icon-light-green-active {
    color: $light-green-color-hover;
}

.icon-light-green:hover {
    color: $dark-green-color;
}

.icon-red {
    color: $red-color;
}

.icon-red-active {
    color: $red-color-active;
}

.icon-red:hover {
    color: $red-hover-color;
}

/*=====/Colors==*/
/*===/Icons===*/

//NAV
.navbar-studyspace {
    background-color: $dark-green-color;
    height: 60px;

    a {
        color: $white-color;
    }

    .custom-dropdown-item {
        color: $black !important;

        &:hover {
            background-color: $light-green-color !important;
            color: $white-color !important;
        }

        &:active {
            background-color: $dark-green-color !important;
            color: $white-color !important;
        }
    }
}

//FOOTER
.footer {
    width: 100%;
    min-height: 150px;
    background-color: $dark-green-color;
    z-index: -1;
}


//INPUTS
.validation-error-border {
    border: 1px solid $red-color !important;
}

.validation-error-text {
    color: $red-color !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $light-green-color;
}

.card-background {
    background-color: $white-color;
    border-radius: $border-radius;
    border: $border;
    padding: 15px;
}

.standard-btn {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: $border-radius;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}

.green-standard-btn {
    @extend .standard-btn;
    background-color: $light-green-color;
    color: $white;

    &:hover {
        background-color: $light-green-color-hover;
        color: $white;
    }

    &:active {
        background-color: $light-green-color-active;
        color: $white;
    }
}

.red-standard-btn {
    @extend .standard-btn;
    background-color: $red-color;
    color: $white-color;

    &:hover {
        background-color: $red-hover-color;
        color: $white-color;
    }

    &:active {
        background-color: $red-color-active;
        color: $white-color;
    }
}

.white-standard-btn {
    @extend .standard-btn;
    border: $border;
    background-color: $white-color;
    color: $black-color;

    &:hover {
        background-color: $white-hover-color;
        color: $black-color;
    }

    &:active {
        background-color: $white-active-color;
        color: $black-color;
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.edit-image-container {
    //Nach Quelle: https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp
    position: relative;
    width: 300px;
    border: $border;
    border-radius: $border-radius;

    /* Make the image to responsive */
    .edit-image-current-image {
        width: 100%;
        height: auto;
    }

    /* The overlay effect (full height and width) - lays on top of the container and over the image */
    .edit-image-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: rgba(255, 255, 255, 0.85);
        cursor: pointer;

        /* When you mouse over the container, fade in the overlay icon*/
        &:hover {
            opacity: 1;
        }
    }

    .edit-image-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}

.form-control:focus {
    border: 1px solid $light-green-color;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $light-green-color;
    border-color: $light-green-color;
}

.modal-title-big {
    font-size: 18px !important;
}

.resize-none {
    resize: none;
}

%user-image-extend {
    border-radius: $border-radius;
    border: $border;
    object-fit: cover;
}

.user-image-35 {
    @extend %user-image-extend;
    width: 35px;
    height: 35px;
}

.user-image-50 {
    @extend %user-image-extend;
    width: 50px;
    height: 50px;
}

.user-image-100 {
    object-fit: cover;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.user-image-200 {
    object-fit: cover;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.contact-input {
    padding: 5px 10px;
    border: $border;
    border-radius: $border-radius;
    width: 75%;
}
