// Common
@import 'common';
@import 'postings';
@import 'profile';
@import 'friendlist';

#sidebar {
    list-style: none;
    background-color: $light-green-color;
    padding-left: 20px;

    li {
        margin-bottom: 10px;

        a {
            color: $white-active-color;
            text-decoration: none;
            font-size: 18px;

            i{
                color: $white-color;
            }

            &:hover {
                color: $white-color;
                text-decoration: none;
            }
        }
    }

    i {
        width: 25px;
    }

    .nav-active>a {
        color: $white-color;
    }
}

.sidebar-wrapper {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    background-color: $light-green-color;
    padding: 25px 20px;
}

.home-content {
    width: 100%;
    background-color: #f6f6f6;
    min-height: calc(100vh - 210px)
}

@media (min-width: 768px) {
    .sidebar-wrapper {
        width: 25%;
    }

    .home-content {
        width: 75%;
        margin-left: 25%;
    }
}

@media (min-width: 1201px) {
    .sidebar-wrapper {
        width: 15%;
    }

    .home-content {
        width: 85%;
        margin-left: 15%;
    }
}
