#message-container {
    height: calc(100vh - 260px);
}

.info-header {
    border-bottom: $border;
    padding: 10px 0;
    margin: 0 20px;
}

.load-conversation{
    max-height: 50px;
}

.conversation-message-body{
    overflow: hidden;
    max-height: 27px;
}

.message-view {
    border-bottom: $border;
    padding: 10px 0;
    margin: 0 20px;
    height: calc(100% - 100px);
    overflow-y: auto;

    /*https://support.cargo.site/Add-a-Chatbot*/
    .message-template {
        border: $border;
        border-radius: $border-radius;
        margin-bottom: 10px;
        padding: 5px 10px;
        max-width: 66%;
        display: inline-block;
    }

    .message-by-me {
        @extend .message-template;
        text-align: right;
        margin-left: auto;
        background-color: $light-green-color;
        color: $white-color;
    }

    .message-by-others {
        @extend .message-template;
        text-align: left;
        margin-right: auto;
        background-color: $white-color;
        color: $black-color;
    }

    .message-view-inner {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .message-timestamp {
        font-size: 10px;
    }
}

.message-input-row {
    height: 50px;
    padding-top: 10px;
    margin: 5px 20px 0;

    .message-input-container {
        border: $border;
        border-radius: $border-radius;
        height: 100%;
        width: 100%;

        .message-input {
            width: calc(100% - 100px);
            height: 100%;
            border: 0;
        }

        .message-send-btn {
            margin-left: 45px;
            width: 50px;
        }
    }
}

.info-messages-container {
    overflow-y: auto;
}

.contact-conversation-list-container {
    border-left: $border;
    padding-left: 20px;
    overflow-y: auto;

    .active-tab {
        border-bottom: $border;
        border-radius: 0;
    }

    .unread-counter {
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: $light-green-color;
        color: $white-color;
        border: $border;
        border-radius: 50%;
    }
}
