#message-container {
    height: calc(100vh - 260px);
}

.info-header {
    border-bottom: $border;
    padding: 10px 0;
    margin: 0 20px;
}

.message-view {
    border-bottom: $border;
    padding: 10px 0;
    margin: 0 20px;
    height: calc(100% - 100px);
    overflow-y: auto;

    .message-template {
        max-width: 66%;
        border: $border;
        border-radius: $border-radius;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    .message-by-me {
        @extend .message-template;
        background-color: $light-green-color;
        color: $white-color;
    }

    .message-by-others {
        @extend .message-template;
        background-color: $white-color;
        color: $black-color;
    }
}

.message-input-row {
    height: 50px;
    padding: 5px 0;
    margin: 0 20px;

    .message-input-container {
        border: $border;
        border-radius: $border-radius;
        height: 100%;
        width: 100%;

        .message-input {
            width: calc(100% - 100px);
            height: 100%;
            border: 0;
        }

        .message-send-btn {
            margin-left: 45px;
            width: 50px;
        }
    }
}

.info-messages-container {
    overflow-y: auto;
}

.contact-conversation-list-container {
    border-left: $border;
    padding-left: 20px;
    overflow-y: auto;

    .active-tab {
        border-bottom: $border;
        border-radius: 0;
    }

    .unread-counter{
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: $light-green-color;
        color: $white-color;
        border: $border;
        border-radius: 50%;
    }
}
