.card-columns {
    @include media-breakpoint-up(xs) {
        column-count: 1;
    }
    @include media-breakpoint-up(md) {
        column-count: 2;
    }

    @include media-breakpoint-up(lg) {
        column-count: 3;
    }
}

.posting-container {
    border: $border;
    border-radius: $border-radius;
    background-color: $white-color;
}


.profile-picture {
    /*border: var(--border);*/
    /*border-radius: var(--border-radius);*/
}

.posting-content {
    width: 100%;
    resize: none;
    border: $border;
    border: none;
    border-radius: $border-radius;
    white-space: pre-wrap;
}

.posting-location-name {
    font-size: 14px;
}

.posting-time {
    font-size: 12px;
}

.modal-title {
    font-size: 14px;
}
