.settings-save-btn {
    margin-top: 20px;
}

.settings-input {
    height: 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: $border;
    border-radius: $border-radius;
    padding: 0 10px;
}

.settings-label{
    margin-top: 20px;
    margin-bottom: 3px;
}
